src/models_.25/
Data/
CNN/
Book/
Outlier_stuff_isotherm_analysis/*.csv
Outlier_stuff_isotherm_analysis/*.png
Outlier_stuff_isotherm_analysis/CoRE_outliers/
Outlier_stuff_isotherm_analysis/another_set/
Outlier_stuff_isotherm_analysis/all_8000_outliers/*LmpData
Outlier_stuff_isotherm_analysis/all_8000_outliers/isotherm/correct/
Outlier_stuff_isotherm_analysis/all_8000_outliers/isotherm/desorption_files/
Outlier_stuff_isotherm_analysis/eight_times_larger/
src/Other_script_folder/
src/.asdasd/
src/.ipynb_checkpoints/
src/__pycache__/
src/*.xlsx
src/*.png
src/bootstrap/
src/Data_BOOM!/
src/models_040720/
src/my_logs/
src/models_train_.75/
src/output_activation_range_control/
src/Compare_meta_average/
src/custom_activations/
src/models_.25/
src/models-040820-psd_only_tob/
src/tob_core_textual_good/
src/models/shit/
src/models/041920/
src/models/1e6_data/
src/models/041520/
src/models/*.png
src/models/*.h5
src/models/models_for_pick/
src/models/041620_diff_seed/
src/models/models_holdouts_041920/0/
src/models/models_holdouts_041920/1/
src/models/models_holdouts_041920/2/
src/models/models_holdouts_041920/3/
src/models/models_holdouts_041920/4/
src/models/models_holdouts_041920/5/
src/models/models_holdouts_041920/6/
src/models/models_holdouts_041920/7/
src/models/models_holdouts_041920/test_modify_plot/0/Meta_model.h5
TMMC/
*.png